# Domain name
option domain-name "cherepovets.ru";

# specify name server's hostname or IP address
option domain-name-servers 77.88.8.8;

# default lease time
default-lease-time 600;

# max lease time
max-lease-time 7200;

# this DHCP server to be declared valid
authoritative;

# specify network address and subnet mask
subnet 172.16.200.0 netmask 255.255.255.0 {

    # specify the range of lease IP address
    range dynamic-bootp 172.16.200.110 172.16.200.199;

    # specify broadcast address
    option broadcast-address 172.16.200.255;

    # specify default gateway
    option routers 172.16.200.1;
}

